/* pretty-printed with https://beautifier.io/ */

/* global variables for all our hosted sites */
:root {
    /* globals */
    --menu-background: #fff;

    /* all these colors need to have sufficient contrast of text on background */
    --text-color: #111;
    --text-muted-color: #777;
    --page-background-color: #fff;
    --generic-link-color: #0054c0;
    --generic-link-visited-color: #4a3696;
    --max-main-content-width: 980px;

    /* used for table of contents, etc. */
    --highlighted-panel-background-color: #eee;
    --highlighted-panel-border-color: #ccc;
    --highlighted-panel-text-color: black;

    /* menus */
    --menu-text-important: #000;
    --menu-background-important: #eee;

    /* used for significant titles */
    --heading-color: green;

    --striped-row-border-color: #e0e0e0;
    --striped-row-colored-row-color: #f8f8f8;
}

/* ############################################################################################ */
/* HTML RESETS */
/* ############################################################################################ */

body,
html {
    color: var(--text-color);
    font-size: 14px;
    background: var(--page-background-color);
}

/* normalize font sizes in places where they're hard-coded */
.profiles,
.profiles td,
.profiles .profilesContentMain .basicInfo td,
.profiles .PropertyGroupData,
.profiles .PropertyGroupItem,
.profiles ul,
.profiles ol,
.searchForm th {
    font-size: 1rem;
    line-height: 1.5;
}

#ctl00_divProfilesContentMain .basicInfo td,
#ctl00_divProfilesContentMain .basicInfo th {
    font-size: 1rem;
}

/* normalize link colors */
a,
.profiles a {
    color: var(--generic-link-color);
}

a:visited,
.profiles a:visited {
    color: var(--generic-link-visited-color);
}

/* normalize heading colors */
h2,
.profiles .profilesContentMain .pageTitle h2 {
    color: var(--heading-color);
}

/* ############################################################################################ */
/* RESPONSIVENESS: make responsive to keep cell phones happy */
/* small screen? most things are 100% wide, and passive content is hidden */
/* ############################################################################################ */

@media only screen and (max-width: 980px) {

    /* window is limited to screen width, and kill all the pixel widths */
    :root {
        --max-main-content-width: 98vw;
    }

    html body .profiles,
    html body .profiles .profilesPage,
    #prns-nav ul.prns-main {
        width: auto;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .profilesMaxWidth {
        max-width: 90vw
    }

    /* don't be afraid of breaking long words if we need to prevent overflows */
    * {
        overflow-wrap: anywhere
    }

    /* hide unimportant bars on left and right, so main content is highlighted */
    html body .profilesContentPassive,
    html body #ctl00_divContentLeft {
        display: none;
    }

    /* at top, make site logo smaller */
    #researcherprofiles--institution-header--site-logo h1 {
        font-size: 1rem
    }

    html body #researcherprofiles--institution-header--site-logo h1 a img {
        max-height: 2rem !important
    }

    /* hide search bar in menu */
    #prns-nav li.search.main-nav,
    #prns-nav #searchDropdownBox,
    #prns-nav #search-drop {
        display: none
    }

    /* in profile pages top basic info block, save space by making photo smaller, and hide headings */
    html body .profiles img#ctl00_ContentMain_rptMain_ctl00_ctl00_imgPhoto {
        max-width: 25vw
    }

    .profiles #toc {
        display: none
    }

    /* in publication lists, hide busy/wordy article metrics */
    #publicationListAll .article-metrics {
        display: none
    }

}

/* ############################################################################################ */
/* ZAP JUNK SITE-WIDE
/* ############################################################################################ */

/* warning: Profiles has a bunch of random empty divs, some of which are unnecessarily styled, e.g. .SupportText on profile pages. This rule kills the borders. It's a sledgehammer rather than a knife but it may be helpful. */
/* span.unused is generated on the server for disabled "all except" junk in the search form. Not sure why this isn't already set to hidden. */

div:empty,
.SupportText,
span.unused {
    border: none;
    display: none;
}

    {
    display: none
}

/* ############################################################################################ */
/* TIPPY-TOP THIN INSTITUTION BRANDING HEADER
/* There's nothing UCSF-specific about this, so should rename the IDs. */
/* structure is: #researcherprofiles--branded-institutional-banner > #researcherprofiles--branded-institutional-banner--menu > ul > li */
/* sites like UCSD have one <ul>, while UCSF has multiple <ul>s */
/* ############################################################################################ */

/* TODO: rename #researcherprofiles--branded-institutional-banner to #researcherprofiles--branded-institutional-banner */

#researcherprofiles--branded-institutional-banner {
    background-color: #052049;
}

/* for every institution, which has only one ul */
#researcherprofiles--branded-institutional-banner #researcherprofiles--branded-institutional-banner--menu>ul:only-of-type {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

#researcherprofiles--branded-institutional-banner #researcherprofiles--branded-institutional-banner--menu>ul:only-of-type li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 3rem;
    overflow: hidden;
}

#researcherprofiles--branded-institutional-banner #researcherprofiles--branded-institutional-banner--menu ul {
    margin: 0;
}

#researcherprofiles--branded-institutional-banner #researcherprofiles--branded-institutional-banner--menu ul li img {
    max-height: 2.5rem;
    max-width: 100%;
}

#researcherprofiles--branded-institutional-banner #researcherprofiles--branded-institutional-banner--menu ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

#researcherprofiles--branded-institutional-banner #researcherprofiles--branded-institutional-banner--menu ul li a:hover {
    text-decoration: underline;
}

/* ############################################################################################ */
/* OUR INSTITUTION HEADER, RIGHT BELOW TOP BRANDING HEADER
/* this is generated by us, and largely similar between sites */
/* structure is: .researcherprofiles--institution-header > #site-branding > #researcherprofiles--institution-header--site-logo > h1 > a > img */
/* ############################################################################################ */

.researcherprofiles--institution-header {
    background-color: var(--page-background-color);
    border: none;
    text-align: left;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: var(--max-main-content-width);
}

/* any links in this sections should be unobstrusive */
.researcherprofiles--institution-header a,
.researcherprofiles--institution-header a:hover,
.researcherprofiles--institution-header a:visited {
    text-decoration: none;
    color: var(--text-color);
}

/* a smidgen of space around the branding/h1 section */
.researcherprofiles--institution-header #site-branding {
    margin: 0 0.5rem;
}

/* site name should be big */
.researcherprofiles--institution-header #researcherprofiles--institution-header--site-logo h1 {
    margin: 0;
    font-size: 2rem;
}

/* the researcherprofiles--institution-header--tagline, if present (e.g. on UCSD), should be smaller and muted */
.researcherprofiles--institution-header #researcherprofiles--institution-header--site-logo h1 #researcherprofiles--institution-header--tagline {
    margin: 0;
    font-size: 1.3rem;
    color: var(--text-muted-color);
}

/* the site logo shouldn't really be taller than the text that would be in its place */
.researcherprofiles--institution-header #researcherprofiles--institution-header--site-logo h1 a img {
    max-height: 2.5rem;
}

/* ############################################################################################ */
/* INTERNAL INTRA-SITE NAVIGATION, MENU, LOGIN, ETC. */
/* ############################################################################################ */

/* entire top block, menu and surrounding, has reasonable defaults */
/* this includes Home, About, Help as well as login info */
#prns-nav {
    margin-bottom: 2rem;
    background-color: var(--menu-background);
    color: var(--menu-text);
}

/* menu nav is also reasonable, with bold font */
#prns-nav ul.prns-main,
#prns-nav ul.prns-main li,
#prns-nav ul.prns-main li a,
#prns-nav ul.prns-main li.landed a {
    color: var(--menu-text);
    background-color: var(--menu-background);
    font-weight: bold;
    border-left: 1px solid var(--menu-background);
    border-right: 1px solid var(--menu-background);
}

/* active link or hover state in menu */
#prns-nav ul.prns-main li.landed a,
#prns-nav ul.prns-main li a:hover {
    color: var(--menu-text-important);
    background-color: var(--menu-background);
    background-color: var(--menu-background-important);
}

/* NEED TO WORK ON THIS. I DON'T UNDERSTAND IT */

/* remove the stupid pulldown menu */
/* need to do this later */
/*
#nav-search-in {
    display: inline-block;
    height: 26px;
    overflow: hidden;
    border-right: 1px solid #999;
    background-color: #f7f7f8;
    min-width: 3rem;
    background: #f7f7f8 url(https://dev-ucsf.researcherprofiles.org/Framework/Images/sort_desc.gif) no-repeat scroll 112px 10px;
}

#nav-search-in #nav-search-in-content {
    color: #444;
    display: inline-block;
    padding: 0 10px 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-facade-active #searchDropdownBox {
    left: -1px;
    opacity: 0;
    top: 8px;
    visibility: visible;
}
#searchDropdownBox {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    width: 90px;
}
#searchDropdownBox .searchSelect {
    height: 20px;
}
.nav-facade-active .searchSelect option {
    padding-bottom: 4px;
}
*/

/* top search box */
#prns-nav li.search.main-nav {
    padding-left: 1rem;
    width: auto !important;
    float: right;
}

#prns-nav li.search input {
    border: revert;
    padding-right: 0;
    left: 0 !important;
    margin-left: auto;
    min-width: 10rem;
}

#prns-nav li.search img {
    display: none
}

/* log in, etc. navigation at botton of menu */

#prns-nav #prns-usrnav {
    padding-left: 1.5em;
    margin-top: 0.5em
}

/* ############################################################################################ */
/* GLOBAL PAGE CONTENT
/* ############################################################################################ */

/* extra space that sites below menu area, and at top of Profiles page content */
@media only screen and (min-width: 980px) {
    .profiles .profilesPage {
        padding-top: 3rem;
    }
}

/* ############################################################################################ */
/* GLOBAL COMPONENTS
/* ############################################################################################ */

/* double arrow is used both on homepage and profile pages */
.profiles .dblarrow:before {
    content: ">>";
    font-family: "Courier New", Courier, monospace;
    letter-spacing: -3px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
}

.profiles .dblarrow:hover:before {
    text-decoration: none;
}

/* TODO: rename #researcherprofiles--institution-name-associated-with-researcher to #researcherprofiles--associated-institution */

/* name of institution, e.g. "UCSF", "USC", used both on profile pages and the home page activity feed */
.profilesContentPassive .researcherprofiles--institution-name-associated-with-researcher,
.activities .act-user .researcherprofiles--institution-name-associated-with-researcher {
    font-size: 70%;
    padding-left: 0.5rem;
    color: var(--heading-color);
}

/* ############################################################################################ */
/* PROFILE PAGE: PERSON'S NAME, PHOTO, BASIC DETAILS, AND BADGES
/* ############################################################################################ */

/* TODO: add class .researcherprofiles--profile-page to <body> on these pages */

/* Put some space around badges */
/* and yes, this is a terrible selector for badges. We should set a reasonable class in the server-side code. */
#ctl00_divProfilesContentMain>img {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

/* containing table should be as small as possible, so things stay left */
/* but we're disabling this because it also matches the table on the search results page */
#ctl00_divProfilesContentMain .panelMain>table {
/*
    display: inline-block;
*/
}

/* person's name is big */
.profiles .pageTitle h2 {
    font-size: 2.5rem !important;
    font-weight: bold !important;
    padding-bottom: 2rem;
}

/* the left container that may or may not contain photo should be as small as needed */
/* STUPIDLY ENOUGH THIS ALSO MATCHES THE SEARCH RESULTS PAGE TABLE */
#ctl00_divProfilesContentMain .panelMain>table>tbody>tr>td:first-child {
    padding: 0 !important;
    margin: 0 !important;
    padding: 0 0 0 0 !important;
    text-align: left;
}

/* photo size is always 150px. wish we could make this bigger! */
#ctl00_divProfilesContentMain img#ctl00_ContentMain_rptMain_ctl00_ctl00_imgPhoto {
    width: 150px;
    margin-right: 1rem;
}

/* some required space below the photo and basicinfo blocks, if they exist */
#ctl00_divProfilesContentMain img#ctl00_ContentMain_rptMain_ctl00_ctl00_imgPhoto,
#ctl00_divProfilesContentMain .basicInfo>table {
    margin-bottom: 2rem;
}

/* in basic info, the email and vcard links should look unobstrusive */
#ctl00_divProfilesContentMain .basicInfo a,
#ctl00_divProfilesContentMain .basicInfo a:visited {
    color: var(--text-color) !important;
    text-decoration: none;
}

/* in basic info, make th headings like "Title", "School", etc. gray */
#ctl00_divProfilesContentMain .basicInfo th {
    color: var(--text-muted-color);
}

/* but in basic info, hide th headings like "Title", "School", etc. on smaller screens */
@media only screen and (max-width: 30rem) {
    #ctl00_divProfilesContentMain .basicInfo th {
        display: none;
    }
}

/* ############################################################################################ */
/* PROFILE PAGE: TABLE OF CONTENTS
/* ############################################################################################ */

/* restyle the TOC box */
.profiles #toc {
    margin: 2rem 0;
    background-color: var(--highlighted-panel-background-color);
    padding: 0.5rem;
    border: none;
    text-align: left;
}

/* reset random padding around ul */
.profiles #toc ul {
    padding: 0;
}

/* make the list horizontal, with standalone items */
.profiles #toc ul li {
    list-style-type: none;
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    margin: 0.25rem 1em;
}

/* the links colors are the same as the heading colors below */
.profiles #toc ul li a {
    color: var(--heading-color);
}

/* ############################################################################################ */
/* PROFILE PAGE: TABLE OF CONTENTS AND ASSOCIATED HEADINGS
/* table of contents items and matching headings may be lowercase. force title case */
/* ############################################################################################ */

.profilesPage #toc,
.profilesPage .toc-item {
    text-transform: capitalize
}

/* ############################################################################################ */
/* PROFILE PAGE: STRUCTURE OF EACH SECTION
/* ############################################################################################ */

/* weird grouping of multiple content sections that we don't care about */

/* hide the stupid collapsible meta-section headers */
.profiles .PropertyGroup {
    display: none;
}

.profiles .PropertyGroupItem {
    border: none !important
}

/* section headings are bigger, recolored, and unclickable */
.profiles .PropertyItemHeader {
    color: var(--heading-color);
    font-size: 1.8rem;
    background-color: var(--page-background-color);
    width: 100%;
    border: none;
    padding: 0;
    margin: 1rem 0 0 0 !important;
    display: inline-block;
    cursor: default;
    pointer-events: none;
}

/* hide the stupid expand icon graphic in section headings */
.profiles .PropertyItemHeader img {
    display: none;
}

/* a little space below each content section body */
.profiles .PropertyGroupData {
    margin-bottom: 2rem;
    padding-bottom: 0;
}

/* ############################################################################################ */
/* PROFILE PAGE: BIO / OVERVIEW
/* ############################################################################################ */

/* Long bios shouldn't be excessively wide */
/* see https://ux.stackexchange.com/q/108801 and https://ux.stackexchange.com/q/3618 for explanation */
.profiles .profilesContentMain .overview {
    max-width: 70em;
}

/* We need this to use the "show more" / "show less" */
/* but it sucks that if JavaScript fails, this will just hide content */
.profiles .profilesContentMain .overview {
    max-height: 20rem;
    overflow: hidden;
}

.profiles .profilesContentMain .overview.full {
    max-height: none;
}

/* show more is styled, show less is hidden */
.profilesPage .expand-collapse .more {
    margin: 0.3rem auto auto auto !important;
    text-align: right;
    color: var(--generic-link-color);
    border-top: 2px dashed var(--heading-color);
    cursor: pointer;
}

.profilesPage .expand-collapse .more>span:last-child {
    display: none;
}

.profilesPage .expand-collapse .more:after {
    /* arrow via https://unicode-table.com/en/sets/arrow-symbols/#up-arrows */
    content: "\25BC";
}

.profilesPage .expand-collapse .less {
    display: none !important;
}

/* ############################################################################################ */
/* PROFILE PAGE: COMMON PATTERNS AND COMPONENTS
/* ############################################################################################ */

/* collapsible tables are used in education, awards and honors */

/* collapsible tables have a stupid pixel width, resetting */
.profiles .profilesContentMain table.collapsible,
.profiles .profilesContentMain table.grants {
    width: auto !important;
}

/* adding little borders between collapsible table rows */
.profiles .profilesContentMain table.collapsible tr,
.profiles .profilesContentMain table.grants tr {
    border-bottom: 2px solid var(--striped-row-border-color);
}

.profiles .profilesContentMain table.collapsible tr:last-of-type,
.profiles .profilesContentMain table.grants tr:last-of-type {
    border: none;
}

/* adding a little space between collapsible table items */
.profiles .profilesContentMain table.collapsible td,
.profiles .profilesContentMain table.grants td {
    padding: .5rem 2rem 0.5rem 0rem;
}

/* ############################################################################################ */
/* PROFILE PAGE: PUBLICATIONS
/* ############################################################################################ */

/* clean up explanation of where publications are derived, at top of pubs list */
.profiles .profilesContentMain .publicationList #ctl01_divPubHeaderText {
    color: var(--text-muted-color) !important;
    font-weight: normal !important;
}

/* more spacing between each publication */
.profiles .profilesContentMain .publications li {
    border: none;
    padding: 0.75rem;
    margin: 0;
}

/* color even/odd lines */
.profiles .profilesContentMain .publications li:nth-child(even) {
    background: var(--striped-row-colored-row-color);
    border-top: 0.5px solid var(--striped-row-border-color);
    border-bottom: 0.5px solid var(--striped-row-border-color);
}

/* ############################################################################################ */
/* PROFILE PAGE RIGHT COLUMN PASSIVE NETWORKS */
/* ############################################################################################ */

.profiles .profilesContentPassive,
.profiles .profilesContentPassive .panelPassive,
.profiles .profilesContentPassive .panelPassive .passive-header {
    margin-top: 0 !important;
    padding-top: 0 !important;
    background: white !important;
    border: none !important;
}

/* if page is sufficiently wide, and there's only one passive column, make sure right column is at least ~20% of screen, and give it some room to breathe */
@media only screen and (min-width: 60rem) and (min-width: 980px) {
    #profilesMainRow.MainRow .profilesContentMain:first-child+.profilesContentPassive {
        min-width: 18vw;
        padding-left: 4rem !important;
    }

}

/* remove the lines between the "Concepts", "Co-Authors", etc. blocks */
.profiles .profilesContentPassive .panelPassive .passiveSectionLine {
    border: 0 !important;
    margin-bottom: 2rem;
}

/* make "Name's Networks" top heading big */
.profiles .passive-header {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
}

/* main "Name's Networks" heading and "Concepts", etc. subheadings are all colored */
.profiles .passive-header,
.profiles .passiveSectionHead {
    font-weight: bold;
    color: var(--heading-color) !important;
}

/* gray out description of where the network data came from */
.profiles .passiveSectionHead .passiveSectionHeadDescription {
    color: var(--text-muted-color) !important;
    margin: 0.1rem 0 0.5rem 0 !important;
}

/* we don't normally set pixel widths, but because images are hardcoded 15px, we'll give it a pass */
.profiles .profilesContentPassive .passiveSectionBody li {
    text-indent: -22px;
    padding-left: 22px;
}

.profiles .profilesContentPassive a .thumbnail {
    display: inline-block;
    height: 15px;
    width: 18px;
    overflow: auto !important;
    position: relative;
    margin: 2px 4px -2px 0;
    border: none !important;
}

.profiles .thumbnail img {
    position: absolute;
    left: 2px;
    height: auto !important;
}

/* ############################################################################################ */
/* ABOUT PAGES */
/* ############################################################################################ */

.profiles .profilesContentMain .aboutText {
    width: auto;
    max-width: 50rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* everything is jammed together on these pages, so more space below headings */
body .profiles .profilesContentMain .aboutText h3 {
    margin-top: 3em;
    color: var(--text-color);
}

/* but no space before the *first* heading */
body .profiles .profilesContentMain .aboutText h3:first-child {
    margin-top: 0;
}

/* ############################################################################################ */
/* HOME PAGE */
/* ############################################################################################ */

/* what is this? */
.profiles .profilesPage .headings {
    color: var(--heading-color);
}

/* ############################################################################################ */
/* HOME PAGE: SEARCH FORM */
/* ############################################################################################ */

/* TODO: add class .researcherprofiles--home-page to <body> on these pages */

/* this seems like it would impact a lot of things. can we verify? */

.profilesContentMain {
    padding: 0 2rem !important;
}

/* hide tab at top of search form, or maybe not */
/*
.profilesContentMain #prns-content .content-main {
    display: none;
}
*/

/* reset sizes on all three search rows, including the heading */
.profilesContentMain .tabContainer>.searchForm>table>tbody>tr>td>div {
    margin: 0;
    padding: 0;
}

/* try to visually merge the two search blocks, but not the heading */
.profilesContentMain .tabContainer>.searchForm>table>tbody>tr:not(:first-child)>td>div {
    background: var(--highlighted-panel-background-color);
    margin: 0;
    padding: 0 2.5rem;
    border: 1px solid var(--highlighted-panel-border-color);
    border-top: 0;
    border-bottom: 0;
}

.profilesContentMain .tabContainer>.searchForm>table>tbody>tr:last-child>td>div {
    border-bottom: 1px solid var(--highlighted-panel-border-color);
    padding-bottom: 1rem;
}

.profilesContentMain .tabContainer>.searchForm>table>tbody>tr:nth-child(2)>td>div {
    padding-top: 1rem;
    border-top: 1px solid var(--highlighted-panel-border-color);
}

/* big "Find people..." text at top of search box */
.profilesContentMain .tabContainer .searchForm table td .header {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    padding-bottom: 0;
}

/* reset sizing of primary containers used throughout form */
.profilesContentMain .searchForm .searchForm {
    border: 0;
    padding: 0;
    margin: 0;
    width: auto;
}

/* search form header labels ("Research Topic," "Last Name," etc.) are uniform width */
.searchForm .searchSection th {
    color: var(--text-color);
    font-weight: normal;
    width: 9rem !important;
    padding: 0 0.75rem 0 0;
}

/* search form input elements are also fixed width */
.searchForm tr td table select,
.searchForm tr td table select[style],
.searchForm table tr td input.inputText {
    min-width: 15rem !important;
}

/* "and/or" in the middle of the search form */
.profilesContentMain .searchForm #andor {
    display: block;
    padding: 0.5rem 0 0.5rem 9.2rem;
    margin: 0;
    font-style: italic;
}

/* search button */
.profiles a.search-button {
    border: none;
    padding: 5px 12px 4px 33px;
    background-position: 10% 50%;
    font-size: 1.3rem;
    background-color: var(--heading-color);
    filter: contrast(1.5);
    white-space: nowrap;
}

/* hover state for search button */
.profiles a.search-button:active,
.profiles a.search-button:hover,
.profiles a.search-button:visited {
    color: #fff;
}

@media screen and (max-width: 600px) {

    .searchForm .searchSection th,
    .searchForm .searchSection td {
        display: block;
        width: auto !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: left;
    }

    .profilesContentMain .searchForm #andor {
        padding-left: 1rem;
    }
}

/* hide DIRECT search link under search form */
#ctl00_ContentMain_rptMain_ctl00_ctl00_DirectSearchUCSF {
    display: none;
}

/*
#divChkList {
    border: 1px solid #ccc !important;
    margin-top: -5px;
    width: 248px !important;
    height: 200px !important;
    padding-top: 15px !important;
}

#divOtherOptions {
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    height: auto !important;
}

#ctcFirst_rMaster_ctl00_imgExpand {
    visibility: hidden;
    width: 1px;
}

#divDetailCheck {
    margin: 3px 0;
}

#chkLstItem label,
#divDetailCheck label,
label[for=ctl00_ContentMain_rptMain_ctl00_ctl00_chkExactPhrase] {
    vertical-align: 2px;
}

.listTable th {
    border: 1px solid #ccc !important;
}

*/

#tblSearchResults th,
.direct .listTable tr:first-child td {
    text-align: left;
    font-weight: 700;
}

#tblSearchResults th.alignCenter {
    text-align: center;
}

/* ############################################################################################ */
/* HOME PAGE: NETWORK UPDATES IN LEFT COLUMN */
/* ############################################################################################ */

.activeSectionBody .activities .act-heading span {
    display: block;
    color: var(--text-muted-color);
    font-weight: normal
}

.activeSectionBody .metrics div span {
    /* Bootstrap 4.1 monospace font stack */
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin-right: 0.4rem;
}

.activeSectionBody .activities .act {
    margin-bottom: 10px;
    padding: 0 0 8px;
    clear: left;
    border-bottom: 1px solid var(--highlighted-panel-border-color);
    min-height: 48px;
}

.act-userdate .date {
    color: var(--text-muted-color);
    font-size: 0.7em;
}

.act-image {
    float: left;
    height: 3rem;
    padding-right: 0.5rem;
    overflow-y: hidden;
}

.act-msg {
    clear: left;
    padding-top: 0.5rem;
}


/* maybe home page ends here? */

.edit .panelMain {
    width: 900px;
}

.edit h3 {
    color: #4d4d4d;
    margin-top: 20px;
}

.edit .evenRow {
    background-color: #fff;
}

#public {
    color: #000;
}

#public img {
    margin: 0 47px 0 79px;
}

#profile-visibility {
    width: 450px;
    float: left;
    margin-left: 50px;
    border: 1px solid #ccc;
}

#profile-visibility td {
    vertical-align: top;
    padding: 4px 10px;
}

#profile-visibility td p {
    margin: 0;
}

.orng-credit {
    display: inline-block;
    margin: 20px 0 0 70px;
    text-indent: -18px;
    width: 420px;
}

.edit tr {
    border-color: #ccc;
}

/*
.about .profiles h2 {
    font-size: 20px;
    padding-top: 10px;
    line-height: 24px;
}

.develop-button {
    text-align: center;
    margin: 15px 40px 6px;
    padding: 5px 0;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background-color: #fff;
}

.center {
    text-align: center;
}

.content-block-container {
    width: 960px;
}

.content-block {
    width: 260px;
    float: left;
}

.content-block:first-child {
    width: 500px;
    padding-right: 100px;
}

.content-block h2 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    padding: 0;
    margin-bottom: 14px;
}

.share {
    background: transparent url(https://dev-ucsf.researcherprofiles.org/About/Images/ent.gif) no-repeat 8px 5px;
}
*/

.item-home>a:after {
    content: '\25BC';
    padding-left: 8px;
    font-size: 80%;
    display: inline-block;
    height: 10px;
    vertical-align: 1px;
}

ul#badge {
    list-style-type: none;
    padding-left: 0;
}

.badge {
    margin: 20px 0 20px 8px;
    width: 136px;
    padding-left: 0;
    padding-bottom: 10px;
}

.badge h3 {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 8px;
}

h2.badge-top {
    padding: 12px 0 14px 4px;
    margin: -68px 0 0 60px;
    width: 70px;
    font-size: 13px;
}

.badge p {
    padding: 0 0 6px;
    margin: 0 -3px 0 0;
    line-height: 18px;
}

.panelActive.navbar {
    padding: 0 0 70px;
}

/*
.profilesPage .metrics {
    margin: 0 0 20px;
    padding: 0 0 12px;
    border-bottom: 1px solid #ccc;
}
*/

*/ .panelMain .activities {
    margin-top: 30px;
    margin-left: 60px;
}

.panelMain .act-heading {
    display: none;
}

.panelMain .act-userdate {
    float: left;
    width: 160px;
    padding-right: 10px;
}

.panelMain .act-msg {
    clear: none;
    float: left;
    width: 360px;
    padding: 0;
    margin-top: -2px;
}

.login_container {
    border: 1px solid #ccc;
    display: table;
    width: 960px;
}

.login_container row {
    display: table;
    width: 100%;
}

.login_container div {
    display: table-cell;
    text-align: center;
}

.login input[type=image] {
    width: 160px;
    padding: 20px;
    vertical-align: middle;
}

.login .plus-size input[type=image] {
    width: 200px;
}

/*****/

/* PART 2: OVERALL STUPIDITY */
.anchor-tab a.link-visualization {
    color: var(--generic-link-color) !important;
}

.prns-explore-btn {
    display: inline;
    color: var(--generic-link-color) !important;
    background-color: revert !important;
}

/* ############################################## */
/* SEARCH RESULTS PAGE */
/* ############################################## */

/* TODO: add class .researcherprofiles--search-results-page to <body> on these pages */

/* "Sort / Show  Click..." content is too close to each other, because it's hard-coded 33% per td */
#ctl00_bodyMaster .panelMain table:first-of-type tbody tr:first-child td[style] {
    padding: 0 0.5rem;
}

/* center the "Sort / Show  Click..." content within each of their respective containers */
#ctl00_bodyMaster .panelMain table:first-of-type tbody tr:first-child td[style] div {
    float: none !important;
    margin: 0 auto;
    text-align: center;
}

/* if the "Sort / Show  Click..." content is too close to each other, hide the "Why" text on small screens */
@media only screen and (max-width: 30rem) {
    #ctl00_bodyMaster .panelMain table:first-of-type tbody tr:first-child td[style] #why {
        display: none;
    }
}
/* the main search results table was hard-coded to 720px */
#ctl00_bodyMaster .panelMain #tblSearchResults {
    width: 100%;
}


/* FYI, the selectors for the search results table are
  - #ctl00_bodyMaster .panelMain .listTable tr:first-of-type is the first header row
  - #ctl00_bodyMaster .panelMain .listTable #tblSearchResults tr is all header and body rows
  - #ctl00_bodyMaster .panelMain .listTablePagination is the next/prev row underneat the table
*/

/* reset all table borders */
#ctl00_bodyMaster .panelMain .listTable, #ctl00_bodyMaster .panelMain .listTable td, #ctl00_bodyMaster .panelMain .listTable th, #ctl00_bodyMaster .panelMain .listTablePagination {
    border: 1px solid var(--striped-row-border-color) !important;
margin: 0 !important;
    border-collapse: collapse;
}

/* normalize colors of alternating rows */
#ctl00_bodyMaster .panelMain .listTable tr.evenRow {
    background-color: var(--striped-row-colored-row-color);
}

/* color header and footer rows are a little different */
#ctl00_bodyMaster .panelMain .listTable tr:first-of-type, #ctl00_bodyMaster .panelMain .listTable tr:first-of-type th, #ctl00_bodyMaster .panelMain .listTablePagination {
    background: #eed;
}

/* kill hardcoded pixel width */
#ctl00_bodyMaster .panelMain .listTablePagination td {
    width: auto;
}
