/* pretty-printed with https://beautifier.io/ */

/* global variables for all our hosted sites */
:root {
    /* globals */
    --menu-background: #fff;

    --text-color: #111;
    --page-background-color: #fff;
    --generic-link-color: #0054c0;
    --generic-link-visited-color: #4a3696;
    --max-main-content-width: 980px;

    --highlighted-panel-background-color: #eee;
    --highlighted-panel-border-color: #ccc;
    --highlighted-panel-text-color: black;

    /* menus */
    --menu-text-important: #000;
    --menu-background-important: #eee;

    /* UCSF specific */
    --heading-color: #F26D04;

}

/* ############################################## */

/** START OF "THIS SHOULD BE IN UCSF" SECTION **/

#header-ucsf div#ucsfnav {
    margin: 0 auto;
    width: var(--max-main-content-width);
    height: 30px;
    overflow: hidden;
}

#header-ucsf {
    background-color: #052049;
}

#header-ucsf ul {
    padding: 0 10px;
    margin: 0;
    display: inline-block;
}

#header-ucsf ul li {
    display: inline;
    list-style-type: none;
    padding-left: 26px;
    line-height: 28px;
}

#header-ucsf div#ucsfnav ul.right {
    float: right;
}

#header-ucsf div#ucsfnav ul.right li {
    text-align: right;
}

#header-ucsf ul li:first-child {
    padding-left: 0;
}

#header-ucsf div#ucsfnav ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
}

#header-ucsf div#ucsfnav ul li a:hover {
    text-decoration: underline;
}

/* temporarily disabling heroes for UCSF */
#ctl00_ContentActive_rptActive_ctl00_ctl00_HeroNavbarPanel {
    display: none
}

/** END OF "THIS SHOULD BE IN UCSF" SECTION **/

/* ############################################## */

/* GLOBALS */

/* GLOBALS: Generic */

/* do some basic global resets */
body,
html {
    color: var(--text-color);
    font-size: 14px;
    background: var(--page-background-color);
}

/* GLOBALS: make responsive to keep cell phones happy */
/* small screen? most things are 100% wide, and passive content is hidden */
@media only screen and (max-width: 980px) {

    /* window is limited to screen width, and kill all the pixel widths */
    :root {
        --max-main-content-width: 98vw;
    }

    html body .profiles,
    html body .profiles .profilesPage,
    #prns-nav ul.prns-main {
        width: auto;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .profilesMaxWidth {
        max-width: 90vw
    }

    /* don't be afraid of breaking long words if we need to prevent overflows */
    * {
        overflow-wrap: anywhere
    }

    /* hide unimportant bars on left and right, so main content is highlighted */
    html body .profilesContentPassive {
        display: none;
    }

    /* at top, make site logo smaller */
    #site-logo h1 {
        font-size: 1rem
    }

    html body #site-logo h1 a img {
        max-height: 2rem !important
    }

    /* hide search bar in menu */
    #prns-nav li.search.main-nav,
    #prns-nav #searchDropdownBox,
    #prns-nav #search-drop {
        display: none
    }

    /* in profile pages top basic info block, save space by making photo smaller, and hide headings */
    html body .profiles img#ctl00_ContentMain_rptMain_ctl00_ctl00_imgPhoto {
        max-width: 25vw
    }

    .profiles #toc {
        display: none
    }

    html body .profiles .profilesContentMain .basicInfo th {
        display: none;
    }

    /* in publication lists, hide busy/wordy article metrics */
    #publicationListAll .article-metrics {
        display: none
    }

}

/* normalize font sizes in places where they're hard-coded */
.profiles,
.profiles td,
.profiles .profilesContentMain .basicInfo td,
.profiles .PropertyGroupData,
.profiles .PropertyGroupItem,
.profiles ul {
    font-size: 1rem;
    line-height: 1.5;
}

/* normalize link colors */
a,
.profiles a {
    color: var(--generic-link-color);
}

a:visited,
.profiles a:visited {
    color: var(--generic-link-visited-color);
}

/* normalize heading colors */
h2,
.profiles .profilesContentMain .pageTitle h2 {
    color: var(--heading-color);
}

/* warning: Profiles has a bunch of random empty divs, some of which are unnecessarily styled, e.g. .SupportText on profile pages. This rule kills the borders. It's a sledgehammer rather than a knife but it may be helpful. */
div:empty,
.SupportText {
    border: none;
    display: none;
}

/* GLOBALS: Institution header */
/* order is .institutionHeader > #site-branding > #site-logo > h1 > a > img */

.institutionHeader {
    background-color: var(--page-background-color);
    border: none;
    text-align: left;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: var(--max-main-content-width);
}

/* links in this sections should be unobstrusive */
.institutionHeader a,
.institutionHeader a:hover,
.institutionHeader a:visited {
    text-decoration: none;
    color: var(--text-color);
}

/* site name should be big */
#site-logo h1 {
    margin: 0;
    font-size: 3rem;
}

#site-logo h1 a img {
    height: 3rem;
}

/* #GLOBALS: Internal navigation, menu, login, etc. */

/* entire top block, menu and surrounding, has reasonable defaults */
#prns-nav {
    margin-bottom: 2rem;
    background-color: var(--menu-background);
    color: var(--menu-text);
}

/* menu nav is also reasonable, with bold font */
#prns-nav ul.prns-main,
#prns-nav ul.prns-main li,
#prns-nav ul.prns-main li a,
#prns-nav ul.prns-main li.landed a {
    color: var(--menu-text);
    background-color: var(--menu-background);
    font-weight: bold;
    border-left: 1px solid var(--menu-background);
    border-right: 1px solid var(--menu-background);
}

/* active link or hover state in menu */
#prns-nav ul.prns-main li.landed a,
#prns-nav ul.prns-main li a:hover {
    color: var(--menu-text-important);
    background-color: var(--menu-background);
    background-color: var(--menu-background-important);
}

/* NEED TO WORK ON THIS. I DON'T UNDERSTAND IT */

/* remove the stupid pulldown menu */
/* need to do this later */
/*
#nav-search-in {
    display: inline-block;
    height: 26px;
    overflow: hidden;
    border-right: 1px solid #999;
    background-color: #f7f7f8;
    min-width: 3rem;
    background: #f7f7f8 url(https://dev-ucsf.researcherprofiles.org/Framework/Images/sort_desc.gif) no-repeat scroll 112px 10px;
}

#nav-search-in #nav-search-in-content {
    color: #444;
    display: inline-block;
    padding: 0 10px 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-facade-active #searchDropdownBox {
    left: -1px;
    opacity: 0;
    top: 8px;
    visibility: visible;
}
#searchDropdownBox {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    width: 90px;
}
#searchDropdownBox .searchSelect {
    height: 20px;
}
.nav-facade-active .searchSelect option {
    padding-bottom: 4px;
}
*/

/* top search box */
#prns-nav li.search.main-nav {
    padding-left: 1rem;
    width: auto !important;
    float: right;
}

#prns-nav li.search input {
    border: revert;
    padding-right: 0;
    left: 0 !important;
    margin-left: auto;
    min-width: 10rem;
}

#prns-nav li.search img {
    display: none
}

/* log in, etc. navigation at botton of menu */

#prns-nav #prns-usrnav {
    padding-left: 1.5em;
    margin-top: 0.5em
}

/* GLOBALS: double arrow are used both on homepage and profile pages */

.profiles .dblarrow:before {
    content: ">>";
    font-family: "Courier New", Courier, monospace;
    letter-spacing: -3px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
}

.profiles .dblarrow:hover:before {
    text-decoration: none;
}

/* ############################################## */

/* PROFILE PAGE /*

/* PROFILE PAGE: Person's name, photo, and basic details */

/* person's name is big */
.profiles .pageTitle h2 {
    font-size: 2.5rem !important;
    font-weight: bold !important;
    padding-bottom: 2rem;
}

/* this is a terrible selector for badges */
#ctl00_divProfilesContentMain>img {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

/* some space below the photo and basicinfo blocks */
.profiles img#ctl00_ContentMain_rptMain_ctl00_ctl00_imgPhoto,
.profiles .basicInfo>table {
    margin-bottom: 2rem;
}

/* photo size is 150. wish we could make this bigger! */
img#ctl00_ContentMain_rptMain_ctl00_ctl00_imgPhoto {
    width: 150px;
    margin-right: 1rem;
}

/* email and vcard links at top should look unobstrusive */
.profiles .basicInfo a,
.profiles .basicInfo a:visited {
    color: var(--text-color) !important;
    text-decoration: none;
}

/* extra vertical space between lines in top section */
.profiles .profilesContentMain .basicInfo td,
.profiles .profilesContentMain .basicInfo th {
    font-size: 1rem;
    line-height: 1.7;
}

/* PROFILE PAGE: Table of contents */

/* clean up TOC container block */
.profiles #toc {
    margin: 2rem 0;
    background-color: var(--highlighted-panel-background-color);
    padding: 0.5rem;
    border: none;
    text-align: center;
}

/* reset random padding */
.profiles #toc ul {
    padding: 0;
}

/* horizontal list, standalone items */
.profiles #toc ul li {
    list-style-type: none;
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    margin: 0.25rem 1em;
}

/* links are orange */
.profiles #toc ul li a {
    color: var(--heading-color);
}

/* PROFILE PAGE: Table of contents and associated headings below */
/* table of contents items and matching headings may be lowercase. force title case */

.profilesPage #toc,
.profilesPage .toc-item {
    text-transform: capitalize
}

/* PROFILE PAGE: weird grouping of multiple content sections that we don't care about */

/* hide the stupid collapsible meta-section headers */
.profiles .PropertyGroup {
    display: none;
}

.profiles .PropertyGroupItem {
    border: none !important
}

/* PROFILE PAGE: content section headings */

/* section headings are bigger, recolored, and unclickable */
.profiles .PropertyItemHeader {
    color: var(--heading-color);
    font-size: 1.8rem;
    background-color: var(--page-background-color);
    width: 100%;
    border: none;
    padding: 0;
    margin: 1rem 0 0 0 !important;
    display: inline-block;
    cursor: default;
    pointer-events: none;
}

/* hide the stupid expand icon graphic in section headings */
.profiles .PropertyItemHeader img {
    display: none;
}

/* PROFILE PAGE: content section bodies */

/* a little space below each one */
.profiles .PropertyGroupData {
    margin-bottom: 2rem;
    padding-bottom: 0;
}

/* PROFILE PAGE: specific blocks */

/* education table has a stupid pixel width, resetting */
.profiles .profilesContentMain table.collapsible {
    width: auto !important;
}

.profiles .profilesContentMain table.collapsible td {
    padding: 0 1rem 0 0;
}

/* removing line between publications */
.profiles .profilesContentMain .publications li {
    border: none !important;
}

/* PROFILE PAGE: right column passive networks */

.profiles .profilesContentPassive,
.profiles .profilesContentPassive .panelPassive,
.profiles .profilesContentPassive .panelPassive .passive-header {
    margin-top: 0 !important;
    padding-top: 0 !important;
    background: white !important;
    border: none !important;
}

/* if page is sufficiently wide, make sure right column is at least 20% of screen */
@media only screen and (min-width: 60rem) and (min-width: 980px) {
    #profilesMainRow.MainRow .profilesContentPassive {
        min-width: 20vw;
    }
}

.profiles .profilesContentPassive .panelPassive .passiveSectionLine {
    border: 0 !important;
    margin-bottom: 1em
}

.profiles .passive-header,
.profiles .passiveSectionHead {
    font-weight: bold;
    color: var(--heading-color);
}

/* we don't normally set pixel widths, but because images are hardcoded 15px, we'll give it a pass */
.profiles .profilesContentPassive .passiveSectionBody {}

.profiles .profilesContentPassive .passiveSectionBody li {
    text-indent: -22px;
    padding-left: 22px;
}

.profiles .profilesContentPassive a .thumbnail {
    display: inline-block;
    height: 15px;
    width: 18px;
    overflow: auto !important;
    position: relative;
    margin: 2px 4px -2px 0;
    border: none !important;
}

.profiles .thumbnail img {
    position: absolute;
    left: 2px;
    height: auto !important;
}

/* name of institution, e.g. "UCSF", "USC" */
.profilesContentPassive .authInst {
    font-size: 70%;
    padding-left: 0.5rem;
    color: var(--heading-color);
}

/* ############################################## */

/* ABOUT PAGEs */

.profiles .profilesContentMain .aboutText {
width: auto;
    max-width: 50rem;
}

/* everything is jammed together on these pages, so more space below h3s */
.profiles .profilesContentMain .aboutText h3 {
    margin-top: 2.5em;
}

.profiles .profilesContentMain .aboutText h3:first-child {
    margin-top: 0;
}


/* ############################################## */

/* HOME PAGE */

.profiles .profilesPage .headings {
    color: var(--heading-color);
}

/* HOME PAGE: search form */

profilesContentMain .searchForm th {
    color: var(--highlighted-panel-text-color);
}

/*
.searchForm td div.header {
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0;
    white-space: nowrap;
}
*/

.searchForm .searchSection {
    background-color: var(--highlighted-panel-background-color);
    color: var(--highlighted-panel-background-color);
    border: 1px solid var(--highlighted-panel-border-color) !important;
}

/*
.searchForm #divSearchSection {
    border-width: 1px 1px 0 1px;
}
*/

/* search input boxes and their labels are uniform width */
.searchForm div.searchSection th {
    font-weight: normal;
    min-width: 6rem;
}

.searchForm tr td table select,
.searchForm tr td table select[style],
.searchForm table tr td input.inputText {
    min-width: 20rem !important;
}

/* search for exact phrase, all except one selected, etc. */
.searchForm span[label],
.searchForm label {
    font-weight: normal;
    font-size: 0.9rem;
    display: inline-block;
}

/*
#ctl00_ContentMain_rptMain_ctl00_ctl00_searchfor,
#txtSearchFor {
    height: 30px;
}
*/

/* search button */
.profiles a.search-button {
    border: none;
    padding: 5px 12px 4px 33px;
    background-position: 10% 50%;
    font-size: 1.3rem;
    background-color: var(--heading-color);
    filter: contrast(1.5);
}

.profiles a.search-button:active,
.profiles a.search-button:hover,
.profiles a.search-button:visited {
    color: #fff;
}

/*
input#chkExactphrase,
input#departmentallexcept {
    display: none;
}

.searchForm .inputText {
    width: 249px;
}

#divChkList {
    border: 1px solid #ccc !important;
    margin-top: -5px;
    width: 248px !important;
    height: 200px !important;
    padding-top: 15px !important;
}

#divOtherOptions {
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    height: auto !important;
}

#ctcFirst_rMaster_ctl00_imgExpand {
    visibility: hidden;
    width: 1px;
}

#divDetailCheck {
    margin: 3px 0;
}

#chkLstItem label,
#divDetailCheck label,
label[for=ctl00_ContentMain_rptMain_ctl00_ctl00_chkExactPhrase] {
    vertical-align: 2px;
}

.listTable th {
    border: 1px solid #ccc !important;
}

*/

#tblSearchResults th,
.direct .listTable tr:first-child td {
    text-align: left;
    font-weight: 700;
}

#tblSearchResults th.alignCenter {
    text-align: center;
}

/*
.evenRow,
.listTable .evenRow {
    background-color: #f7f7f8;
}

.listTable td {
    border: none;
    border-right: solid 1px #ccc;
    cursor: default;
}

.listTablePagination {
    border-color: #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    width: 706px;
}

.listTablePaginationFL img {
    margin-top: 4px;
}

#why {
    width: 190px;
    font-size: 11px;
    padding: 1px;
    text-align: center;
    background-color: #f7f7f8;
    margin-left: 30px;
    float: right;
}

.evenRow td,
.listTable table,
.oddRow td {
    border: 1px solid #ccc !important;
}
*/

/* maybe home page ends here? */

.edit .panelMain {
    width: 900px;
}

.edit h3 {
    color: #4d4d4d;
    margin-top: 20px;
}

.edit .evenRow {
    background-color: #fff;
}

#public {
    color: #000;
}

#public img {
    margin: 0 47px 0 79px;
}

#profile-visibility {
    width: 450px;
    float: left;
    margin-left: 50px;
    border: 1px solid #ccc;
}

#profile-visibility td {
    vertical-align: top;
    padding: 4px 10px;
}

#profile-visibility td p {
    margin: 0;
}

.orng-credit {
    display: inline-block;
    margin: 20px 0 0 70px;
    text-indent: -18px;
    width: 420px;
}

.edit tr {
    border-color: #ccc;
}

/*
.about .profiles h2 {
    font-size: 20px;
    padding-top: 10px;
    line-height: 24px;
}

.develop-button {
    text-align: center;
    margin: 15px 40px 6px;
    padding: 5px 0;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background-color: #fff;
}

.center {
    text-align: center;
}

.content-block-container {
    width: 960px;
}

.content-block {
    width: 260px;
    float: left;
}

.content-block:first-child {
    width: 500px;
    padding-right: 100px;
}

.content-block h2 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    padding: 0;
    margin-bottom: 14px;
}

.share {
    background: transparent url(https://dev-ucsf.researcherprofiles.org/About/Images/ent.gif) no-repeat 8px 5px;
}
*/

.item-home>a:after {
    content: '\25BC';
    padding-left: 8px;
    font-size: 80%;
    display: inline-block;
    height: 10px;
    vertical-align: 1px;
}

ul#badge {
    list-style-type: none;
    padding-left: 0;
}

.badge {
    margin: 20px 0 20px 8px;
    width: 136px;
    padding-left: 0;
    padding-bottom: 10px;
}

.badge h3 {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 8px;
}

h2.badge-top {
    padding: 12px 0 14px 4px;
    margin: -68px 0 0 60px;
    width: 70px;
    font-size: 13px;
}

.badge p {
    padding: 0 0 6px;
    margin: 0 -3px 0 0;
    line-height: 18px;
}

.panelActive.navbar {
    padding: 0 0 70px;
}

/*
.profilesPage .metrics {
    margin: 0 0 20px;
    padding: 0 0 12px;
    border-bottom: 1px solid #ccc;
}
*/

.profilesPage .activities .act-heading,
.profilesPage .metrics .act-heading {
    padding-bottom: 12px;
    white-space: nowrap;
}

.activities .act-heading span {
    display: block;
    font-size: 90%;
    padding: 4px 0;
    color: #444;
}

.activities {
    max-width: 600px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.act {
    margin-bottom: 10px;
    padding: 0 0 8px;
    clear: left;
    border-bottom: 1px solid #ccc;
    min-height: 48px;
}

.act-user {
    line-height: 15px;
}

.act-userdate .date {
    color: #506380;
    font-size: 11px;
}

.act-image {
    float: left;
    height: 45px;
    padding-right: 5px;
    overflow-y: hidden;
}

.act-msg {
    clear: left;
    padding-top: 6px;
}

*/ .panelMain .activities {
    margin-top: 30px;
    margin-left: 60px;
}

.panelMain .act-heading {
    display: none;
}

.panelMain .act-userdate {
    float: left;
    width: 160px;
    padding-right: 10px;
}

.panelMain .act-msg {
    clear: none;
    float: left;
    width: 360px;
    padding: 0;
    margin-top: -2px;
}

.login_container {
    border: 1px solid #ccc;
    display: table;
    width: 960px;
}

.login_container row {
    display: table;
    width: 100%;
}

.login_container div {
    display: table-cell;
    text-align: center;
}

.login input[type=image] {
    width: 160px;
    padding: 20px;
    vertical-align: middle;
}

.login .plus-size input[type=image] {
    width: 200px;
}

/*****/

/* PART 2: OVERALL STUPIDITY */
.anchor-tab a.link-visualization {
    color: var(--generic-link-color) !important;
}

.prns-explore-btn {
    display: inline;
    color: var(--generic-link-color) !important;
    background-color: revert !important;
}

/* PART 3: SPECIFIC SECTIONS */

.profilesPage .expand-collapse .more,
.profilesPage .expand-collapse .less {
    margin: auto !important;
    text-align: right;
}

.panelMain>table>tbody>tr>td:first-child {
    text-align: left
}

/*
.off .profiles {
    margin: 0 auto;
    width: var(--max-main-content-width);
}

.off #page-container {
    background-color: var(--page-background-color)
}

.off .profiles .profilesPage table {
    border-color: transparent;
}

.off .profiles .profilesContentMain .pageTitle h2 {
    font-size: 30px;
    font-weight: 700;
    color: green;
}

.off .profiles .profilesContentMain .pageTitle h2 a img {
    display: none;
}


.off .listTable th {
    background-color: var(--highlighted-panel-background-color);
}
.profiles .profilesContentMain {
    width: 690px;
    margin: 10px 60px 0 10px;
}

.profiles .profilesMainRow .profilesContentPassive {
    padding: 0 0 0 1em;
}

.off .search .profiles .profilesContentMain {
    width: 540px;
    margin: 0 40px;
}

.off .search .profiles .profilesContentPassive {
    width: 152px;
    padding: 9px 10px 0 0;
}

.off #minisearch {
    display: none;
}
*/

/*
.overview {
    max-height: 179px;
    overflow: hidden;
}

.overview.full {
    max-height: none;
}

.expand-collapse {
    text-align: right !important;
    font-weight: 700;
    cursor: pointer;
}

.expand-collapse {
    margin-top: 6px;
}

.less span,
.more span {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color: #fff;
    border-radius: 12px;
    padding: 2px 4px;
    line-height: 16px;
}

.scroll {
    max-height: 275px;
    overflow-y: auto;
}
*/