/* colors are from style guide at https://identity.ucsf.edu/print-digital/digital-colors */
:root {
    --heading-color: #F26D04;
    --very-dark-background-color: #052049;
    --menu-important-background-color: #efded1;
}

.researcherprofiles--branded-institutional-banner--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;

}

.researcherprofiles--branded-institutional-banner--menu>ul:last-of-type li {
    display: inline;
    float: left;
    margin-right: 1rem;
}

.researcherprofiles--branded-institutional-banner--menu {
    padding: 0.5rem 1rem;
}

@media only screen and (max-width: 980px) {
    .researcherprofiles--branded-institutional-banner--menu ul.right {
        display: none;
    }
    .researcherprofiles--branded-institutional-banner--menu {
        padding-left: 0;
        padding-right: 0;
    }
}

/* temporarily disabling heroes for UCSF */
#ctl00_ContentActive_rptActive_ctl00_ctl00_HeroNavbarPanel {
    display: none
}

/*
.sautter { text-align: center; margin-top: 0; font-size: 15px; font-style: italic; } 
.panelActive.navbar { padding: 0 0 110px; background: transparent url(Images/hero.png) no-repeat scroll center 60px; }
.hero-women .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-women.png); }
.hero-photos0 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos0.png); }
.hero-photos1 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos1.png); }
.hero-photos2 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos2.png); }
.hero-photos3 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos3.png); }
.hero-photos4 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos4.png); }
.hero-photos5 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos5.png); }
.hero-photos6 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos6.png); }
.hero-photos7 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos7.png); }
.hero-photos8 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos8.png); }
.hero-photos9 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos9.png); }
.hero-photos10 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos10.png); }
.hero-photos11 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos11.png); }
.hero-photos12 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos12.png); }
.hero-photos13 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos13.png); }
.hero-photos14 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos14.png); }
.hero-photos15 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos15.png); }
.hero-photos16 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos16.png); }
.hero-photos17 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos17.png); }
.hero-photos18 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos18.png); }
.hero-photos19 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos19.png); }
.hero-photos20 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos20.png); }
.hero-photos21 .panelActive.navbar { padding: 0 0 160px; background-image: url(Images/hero-photos21.png); }
*/