/* global variables */
:root {
    --heading-color: #771111;
    --generic-link-color: #4d8ba9;
    --generic-link-visited-color: #8d8ba9;

    /* dark color in footer at https://sc-ctsi.org/ */
    --very-dark-background-color: #2c3238;

}

/* TIPPY TOP INSTITUTIONAL HEADER */

/* items are smooshed on left, except last one's on the right */
.researcherprofiles--branded-institutional-banner--menu ul:only-of-type {
    justify-content: start;
}

.researcherprofiles--branded-institutional-banner--menu ul:only-of-type li {
    margin-right: 2rem;
}

.researcherprofiles--branded-institutional-banner--menu ul:only-of-type li:last-child {
    margin-left: auto;
    margin-right: 0;
}

/* reduce font size a little */
.researcherprofiles--branded-institutional-banner--menu ul li a {
    font-size: 0.9rem;
}

/* logo before final item */
.researcherprofiles--branded-institutional-banner--menu a#powered-by-ctsi {
    border: none;
    padding: 0 0 0 1.5rem;
    background: transparent url("/App_Themes/USC/Images/powered_by_scctsi.png") no-repeat scroll 0 4px;
    background-size: 1em 1em;
}

/* SITE NAME BANNER */

/* put the site name on left, new features block on right */

#site-branding {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

/* make name image bigger */
.researcherprofiles--institution-header--site-logo h1 a img {
    height: 5rem;
    max-height: 5rem;
}

/* STYLE "TOUR PROFILES" AND "NEW FEATURES" */

#new-features a,
#new-features a:visited {
    color: var(--generic-link-color);
}

#new-features,
.tour {
    background-color: pink;
    font-weight: bold;
    padding: 0.5rem;
    background: var(--highlighted-panel-background-color);
    border: 1px solid var(--highlighted-panel-border-color);
}

.tour {
    margin-top: 1rem;
}

/* TODO: remove this at source */
div[id^="ctl00_ContentPassive_rptPassive_ctl00_ctl00_TwitterUSC"] {
  display: none;
}

/* SITEWIDE */

.dblarrow:before {
    color: var(--heading-color);
}

/* TODO: DETERMINE WHERE ANY OF THIS IS USED */

/* navbar & footer colors */
.profilesFooter {
    border: none;
    padding-bottom: 10px;
}

.profilesFooter p {
    color: #FFF;
    padding: 5px;
    width: 700px;
    text-align: center;
    font-size: 12px;
    margin: 5px auto;
}

.faculty2 {
    margin-left: 12px;
}

.student2,
.faculty2 {
    vertical-align: -2px;
}

.profile .passive-header {
    background-color: #f8f8f9;
    text-align: center;
    margin: 10px 0 -8px;
    padding: 8px 2px;
}

div.PlumX-Popup {
    display: inline;
    margin-left: 10px;
}

.PlumX-Popup .ppp-container.ppp-badge>a {
    font-family: arial, helvetica, sans serif !important;
}

#gadgets-gadget-title-bar-119 {
    background-color: #FFF;
}

.aboutProfiles .shaded {
    background-color: #CCC;
}

.aboutProfiles {
    border-color: #CCC;
}