/* highlight color */
.dblarrow:before, .highlight { color: #771111; }
#about h2, h2.about, .content-block h2, .searchForm td div.header, 
.passive-header, .PropertyItemHeader, .accordion td, .expand-collapse,
#ctl00_ContentMain_rptMain_ctl00_ctl00_ctl00_btnEditProperty:before, 
.profiles .profilesContentMain .pageTitle h2 { color: #000; }
.profiles a.search-button, .more span, .less span { background-color: #771111; }
.profiles a.search-button:hover { background-color: #990000; box-shadow: none; }

/* banner */

#header-ucsf ul { padding-top: 4px; }
#header-ucsf div#ucsfnav ul li a {
    border-left: 1px solid #fff;
    font-size: 11px;
    padding: 0 5px 0 10px;
}
#header-ucsf div#ucsfnav ul li.first a { border: none; padding: 0 5px 0 0; }
.institutionHeader { height: 100px; }
#site-logo h1 { margin: 0; padding: 10px 0 0 0; }
#powered-by-block { margin: 15px 20px 0 0; padding: 0;}
#powered-by-block  a {  
  background: transparent url("Images/powered_by_scctsi.jpg") no-repeat scroll 0 4px;
  color: #000;  
  padding: 5px 0 5px 20px;
  font-weight: normal;
}
#new-features { clear: right; float: right; width: 300px; margin: 24px 20px 0 0; }
#new-features a, #new-features a:visited {
    padding: 6px;
    margin: 0;
    display: inline-block;
    font-size: 13px;
	background-color: #eee;
	float: right;
}
#powered-by-block  a:hover, #new-features a:hover { text-decoration: underline; }

/* LINK Color */
.profiles .basicInfo a, .profiles .basicInfo a:visited, .profiles .basicInfo a:hover { color: #000; }
.profiles .basicInfo .grants a, .profiles .basicInfo .grants a:visited, 
#ctl00_ContentMain_rptMain_ctl00_ctl00_pnlProxySearchResults tr.edittable td:first-child, 
#ctl00_ContentMain_rptMain_ctl00_ctl00_pnlProxySearchResults tr.evenRow td:first-child, 
#profile-components table td#namedegree, .listTable .listTableLink, .linky, 
.institutionHeader a,
.profiles a, .profiles a:visited { color: #4d8ba9; }
.profiles a:hover, .institutionHeader a:hover { color: #267196; }
.profiles .profilesFooter a, .profiles .profilesFooter a:hover { color: #FFCC00; }


/* navbar & footer colors */
#suckerfishmenu, #suckerfishmenu a { background-color: #771111; }
#suckerfishmenu li { border-right: none; }
.search #suckerfishmenu .item-home a,
#suckerfishmenu	 a.active, #suckerfishmenu a:hover { background-color: #990000; }
#header-ucsf, .profiles .profilesFooter { background-color: #000; }
.profiles .profilesFooter { border: none; }
.profiles .profilesFooter  p { color: #FFF; padding: 5px 150px; text-align: center; }

