/* highlight color */
.profiles a .authInst, .profiles a .authInst:hover, 
.dblarrow:before, .highlight { color: #771111; }
#about h2, h2.about, .content-block h2, .searchForm td div.header, 
.passive-header, .PropertyItemHeader, .accordion td, .expand-collapse,
#ctl00_ContentMain_rptMain_ctl00_ctl00_ctl00_btnEditProperty:before, 
.profiles .profilesContentMain .pageTitle h2 { color: #000; }
.profiles a.search-button, .more span, .less span { background-color: #771111; }
.profiles a.search-button:hover { background-color: #990000; box-shadow: none; color: #FFF; }
#navbarsearch input[type=submit]  { background-color: #771111; border: 4px solid #771111; }
#navbarsearch input[type=submit]:hover  { background-color: #990000; border: 4px solid #990000; }

/* banner */
#header-ucsf div#ucsfnav ul li { padding: 0; }
#header-ucsf div#ucsfnav ul li a { border-left: 1px solid #fff; padding: 0 8px 0 12px; font-size: 11px; }
#header-ucsf div#ucsfnav ul li.first a { border: none; padding-left: 0; }
#header-ucsf div#ucsfnav ul li a#powered-by-ctsi {
  float: right; border: none; padding: 0 0 0 30px; 
  background: transparent url("Images/powered_by_scctsi.png") no-repeat scroll 0 4px;
  background-size: 22px 22px;
}
#site-logo h1 { margin: 0; padding: 8px 0 0 10px; }
#site-logo h1 a img { height: auto; }
#new-features { clear: right; float: right; width: 300px; margin: 50px 10px 0 0; }
#new-features a, #new-features a:visited {
    padding: 6px;
    margin: 0;
    display: inline-block;
    font-size: 13px;
	background-color: #f8f8f9;
	float: right;
}

/* LINK Color */
.profiles .basicInfo a, .profiles .basicInfo a:visited, .profiles .basicInfo a:hover { color: #000; }
.profiles .basicInfo .grants a, .profiles .basicInfo .grants a:visited, 
#ctl00_ContentMain_rptMain_ctl00_ctl00_pnlProxySearchResults tr.edittable td:first-child, 
#ctl00_ContentMain_rptMain_ctl00_ctl00_pnlProxySearchResults tr.evenRow td:first-child, 
#profile-components table td#namedegree, .listTable .listTableLink, .linky, 
.institutionHeader a,
.profiles a, .profiles a:visited { color: #4d8ba9; }
.profiles a:hover, .institutionHeader a:hover { color: #267196; }
.profilesFooter a, .profilesFooter a:hover { color: #FFCC00; }

/* navbar & footer colors */
#header-ucsf, .profilesFooter { background-color: #000; }
.profilesFooter { border: none; padding-bottom: 10px; }
.profilesFooter  p { color: #FFF; padding: 5px; width: 700px; text-align: center; font-size: 12px; margin: 5px auto; }

/* USC only */
.faculty2 { margin-left: 12px; }
.student2, .faculty2 { vertical-align: -2px; }
.tour { background-color: #f8f8f9; font-weight: bold; margin-top: 15px; padding: 6px; }
#about td { border-top: none; }
.profile .passive-header { background-color: #f8f8f9; text-align: center; margin: 10px 0 -8px; padding: 8px 2px; }
div.PlumX-Popup { display: inline; margin-left: 10px; }
.PlumX-Popup .ppp-container.ppp-badge > a { font-family: arial,helvetica,sans serif !important; }
#gadgets-gadget-title-bar-119 { background-color: #FFF; }
