/*
  using UCLA style guide at https://brand.ucla.edu/identity/colors
  but specifically, at https://webcomponents.ucla.edu/build/1.0.0-beta.8/docs/colors/interactive-light.html
*/

/* global variables */
:root {

    /* UCLA blue, as requested. note: this is very close to the link color */
    --heading-color: #2774AE;
    /* as used at www.ucla.edu */
    --generic-link-color: rgb(30, 75, 135);
    /* as specified in style guide */
    --generic-link-visited-color: #00598C;
    /* darkest blue from https://webcomponents.ucla.edu/build/1.0.0-beta.8/docs/colors/layout.html */
    --very-dark-background-color: #2774AE;
    /* official 10% tint of UC Davis blue, requested by UCLA team */
    --menu-important-background-color: #CDD6E0;
}

/* hide tippy-top menu */
.researcherprofiles--branded-institutional-banner--menu {
    display: none;
}

#ctl00_MasterPageHeaderUCLA {
    background-color: #1C416A;
    background-image: url("/App_Themes/UCLA/Images/ucla-profiles-banner-background-wide.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.researcherprofiles--institution-header,
.researcherprofiles--institution-header--site-logo a {
    background: transparent;
    color: white !important;
}

/* normalize logo image size */
.researcherprofiles--institution-header--site-logo h1 a img {
    vertical-align: baseline;
    height: 50px;
}

/* normalize logo font size */
.researcherprofiles--institution-header--site-logo h1 a {
    font-size: 40px;
}