/*
  using UCLA style guide at https://brand.ucla.edu/identity/colors
  but specifically, at https://webcomponents.ucla.edu/build/1.0.0-beta.8/docs/colors/interactive-light.html
*/

/* global variables */
:root {
    /* UCLA warning orange. This is from https://webcomponents.ucla.edu/build/1.0.0-beta.8/docs/colors/denotive.html */
    --heading-color: #F57F17;
    /* as used at www.ucla.edu */
    --generic-link-color: rgb(30, 75, 135);
    /* as specified in style guide */
    --generic-link-visited-color: #00598C;
    /* darkest blue from https://webcomponents.ucla.edu/build/1.0.0-beta.8/docs/colors/layout.html */
    --very-dark-background-color: #2774AE;
}

.researcherprofiles--branded-institutional-banner--menu {
    display: none;
}

#ctl00_MasterPageHeaderUCLA,
.researcherprofiles--institution-header,
#site-branding a {
    /* UCLA darkest blue */
    background: #003B5C;
    color: white;
}

#site-branding h1 a img {
    vertical-align: baseline;
    height: 50px;
}

#site-branding h1 a {
    font-size: 40px;
}
