<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultShardCount" value="20" />
    <add key="DefaultPublicationCount" value="10" />
  </appSettings>
  <connectionStrings>
    <add
      name="ProfilesDataAPIDB"
      connectionString="Data Source=(local);Initial Catalog=ProfilesRNS;User ID=App_Profiles10;Password=Password1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
