/* highlight color */
.dblarrow:before, #about h2, h2.about, .content-block h2, .searchForm td div.header, .highlight,
.passive-header, .PropertyItemHeader, .accordion td, .expand-collapse,
#ctl00_ContentMain_rptMain_ctl00_ctl00_ctl00_btnEditProperty:before, 
.profiles a .authInst, .profiles a .authInst:hover, 
.profiles .profilesContentMain .pageTitle h2 { color: #DAAA00; }
.profiles a.search-button, #navbarsearch input[type=submit], .more span, .less span { background-color: #DAAA00; }
.profiles a.search-button:hover, #navbarsearch input[type=submit]:hover { background-color: #E1BB33; box-shadow: none; }
#navbarsearch input[type=submit]  { border: 4px solid #DAAA00; }
#navbarsearch input[type=submit]:hover  { border: 4px solid #E1BB33; }

/* banner */
#header-ucsf { background: #002855 url("Images/davisheader.svg") no-repeat scroll top right; }
#site-logo h1 a img { height: 28px; vertical-align: -4px; }
#tagline { padding-top: 8px; color: #667D9D; }

/* LINK Color */
.profiles .basicInfo a, .profiles .basicInfo a:visited, .profiles .basicInfo a:hover { color: #000; }
.profiles .basicInfo .grants a, .profiles .basicInfo .grants a:visited, 
#ctl00_ContentMain_rptMain_ctl00_ctl00_pnlProxySearchResults tr.edittable td:first-child, 
#ctl00_ContentMain_rptMain_ctl00_ctl00_pnlProxySearchResults tr.evenRow td:first-child, 
#profile-components table td#namedegree, .listTable .listTableLink, .linky, 
.institutionHeader a, .institutionHeader a:hover,
.profiles a, .profiles a:visited { color: #335379; }
#site-logo h1 a:hover, #site-logo h1 a:hover #tagline { color: #002855; }

/* navbar & footer colors */
.profiles .profilesFooter,
#suckerfish-container, #suckerfishmenu a { background-color: #002855; }
.search #suckerfishmenu .item-home > a,
#suckerfishmenu	 a.active, #suckerfishmenu a:hover { background-color: #335379; }