/* UC Davis colors are from style guide at https://marketingtoolbox.ucdavis.edu/brand-guide/colors */

/* global variables */
:root {

    /* link color used at https://marketingtoolbox.ucdavis.edu/ */
    --generic-link-color: rgb(0, 102, 204);

    /* UC Davis Cabernet from https://marketingtoolbox.ucdavis.edu/brand-guide/colors */
    --generic-link-visited-color: #481268;

    /* official 80% tint of UC Davis blue" */
    --heading-color: #1D4776;

    /* darkest UC Davis blue */
    --very-dark-background-color: #022851;

    /* official 10% tint of UC Davis blue" */
    --menu-important-background-color: #CDD6E0;
}

/* no need for tippy-top header */
.researcherprofiles--branded-institutional-banner--menu {
    display: none;
}

#ctl00_MasterPageHeaderUCD,
.researcherprofiles--institution-header,
.researcherprofiles--institution-header--site-logo a {
    background: var(--very-dark-background-color);
    color: white !important;
}

.researcherprofiles--institution-header--site-logo h1 {
    font-size: 2rem;
}

.researcherprofiles--institution-header--site-logo h1 a img {
    height: 1.7rem !important;
}