/* official UCSD style guide is at https://ucpa.ucsd.edu/brand/applications/web/ */

/* global variables */
:root {
    /* UCSD's dark blue from core colors */
    --heading-color: #182B49;
    /* UCSD's official link color in style guide */
    --generic-link-color: #00629B;
    /* our manually-computed purpler version of link color */
    --generic-link-visited-color: #2B4192;
    /* UCSD's darkest neutral gray */
    --text-muted-color: #747678;
    /* same color as used at https://blink.ucsd.edu/technology/websites/training/new-page/templates/general-cms/v5/homepage.html and elsewhere */
    --very-dark-background-color: rgb(0, 106, 150);
}

/* show Powered by... only on medium/large screens */
.researcherprofiles--branded-institutional-banner--menu #powered-by-ctsi {
    display: none;
}

@media only screen and (min-width: 40rem) {
    .researcherprofiles--branded-institutional-banner--menu #powered-by-ctsi {
        display: initial;
    }
}

/* show header icon on big screen widths */
/* this image sizing is hardcoded, which isn't cool */
@media only screen and (min-width: 980px) {
    .researcherprofiles--institution-header--site-logo h1 {
        background: transparent url("/App_Themes/UCSD/Images/network.png") no-repeat scroll 0 0;
        padding: 15px 0 12px 100px;
    }
}

/* same color as used in header at https://blink.ucsd.edu/technology/websites/training/new-page/templates/general-cms/v5/homepage.html and elsewhere */
.researcherprofiles--institution-header--site-logo h1 a {
    color: rgb(0, 106, 150) !important;
}