/****** Script for SelectTopNRows command from SSMS  ******/
         SELECT top 100 [AuthorID],p.internalusername,dims.[FirstName],dims.[LastName],pmid 
         FROM [Profile.Data].[Publication.Person.Include] inc  
         JOIN  [Profile.Data].[Person] p on p.personid=inc.personid 
		 JOIN [External.Publication].[AutorIDs] dims on p.internalusername=dims.internalusername
	       where AuthorIDType='Dimensions' and pmid is not NULL 
            and dims.internalusername >= '' and pmid>-7
           order by dims.internalusername,pmid 

SELECT [FirstName]
      ,[LastName]
      ,[InternalUsername]
  FROM [ProfilesRNS_Dev].[Profile.Data].[Person]
  where internalusername in ('000983@ucsf.edu','028953@ucsf.edu')

insert into [External.Publication].[AutorIDs]
( [AuthorIDType]
      ,[AuthorID]
      ,[FirstName]
      ,[LastName]
      ,[InternaluserName])
values
('Dimensions','ur.01235535644.47','Matthew','Springer','028953@ucsf.edu'),
('Dimensions','ur.0777075312.11','Gary','Abrams','000983@ucsf.edu')