/****** Script for SelectTopNRows command from SSMS  ******/
--delete FROM [External.Publication].[Import.PubData]

    SELECT ImportPubID,JSON_VALUE([Data], '$.id') as ID,
	JSON_VALUE([Data], '$.date_inserted') as data_inserted
	,JSON_Query([Data], '$.researchers') as cats
	,JSON_VALUE([Data],'$.researchers[0].last_name') as name1
	,JSON_VALUE([Data],'$.researchers[1].last_name') as name2
	,AuthorsList
  FROM [External.Publication].[Import.PubData]
  where cast(JSON_VALUE([Data], '$.date_inserted') as DATE) > cast('2017-08-31' as DATE)
 