<mapconfig>
  <Zoom>
    <CenterLat>32.88006</CenterLat>
    <CenterLong>-117.234013</CenterLong>
    <ZoomLevel>6</ZoomLevel>
    <Label>Southern California</Label>
    <SortOrder>1</SortOrder>
    <DefaultLevel></DefaultLevel>
  </Zoom>
  <Zoom>
    <CenterLat>32.88006</CenterLat>
    <CenterLong>-117.234013</CenterLong>
    <ZoomLevel>9</ZoomLevel>
    <Label>San Diego</Label>
    <SortOrder>2</SortOrder>
    <DefaultLevel></DefaultLevel>
  </Zoom>
  <Zoom>
    <CenterLat>32.88006</CenterLat>
    <CenterLong>-117.234013</CenterLong>
    <ZoomLevel>12</ZoomLevel>
    <Label>UCSD</Label>
    <SortOrder>3</SortOrder>
    <DefaultLevel>True</DefaultLevel>
  </Zoom>
</mapconfig>