/* highlight color */
.dblarrow:before, .about .profiles h2, .content-block h2, .searchForm td div.header,
.passive-header, .PropertyItemHeader, .accordion td, .expand-collapse,
#ctl00_ContentMain_rptMain_ctl00_ctl00_ctl00_btnEditProperty:before, 
.profiles a .authInst, .profiles a .authInst:hover, 
.profiles .profilesContentMain .pageTitle h2 { color: #D57800; }
.profiles a.search-button, .more span, .less span { background-color: #D57800; }
.profiles a.search-button:hover { background-color: #EEAA00; box-shadow: none; color: #FFF; }
#navbarsearch input[type=submit]  { background-color: #D57800; border: 4px solid #D57800; }
#navbarsearch input[type=submit]:hover  { background-color: #EEAA00; border: 4px solid #EEAA00; }

/* banner */
.institutionHeader { background-color: #00385B; height: 100px; }
#site-logo h1 { margin: 0; padding: 10px 0 0 10px; }
#site-logo h1 a img { height: 77px; }
#powered-by-block { margin: 10px 10px 0 0; padding: 0;}
#powered-by-block  a, #powered-by-block  a:visited {  
    border-right: 1px solid #fff;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 10px;
    font-weight: 800;
    line-height: 12px;
    padding: 1px 8px;
    text-align: right;
    text-decoration: none;
}
#powered-by-block  a:hover { text-decoration: underline; color: #fff; }
#powered-by-block a.last-item { border: none; padding-right: 0; }
#navbarsearch { top: -63px; }

/* LINK Color */
.profiles .basicInfo a, .profiles .basicInfo a:visited, .profiles .basicInfo a:hover { color: #000; }
.profiles .basicInfo .grants a, .profiles .basicInfo .grants a:visited, 
#ctl00_ContentMain_rptMain_ctl00_ctl00_pnlProxySearchResults tr.edittable td:first-child, 
#ctl00_ContentMain_rptMain_ctl00_ctl00_pnlProxySearchResults tr.evenRow td:first-child, 
#profile-components table td#namedegree, .listTable .listTableLink, .linky, 
.institutionHeader a,
.profiles a, .profiles a:visited { color: #0088CC; }
.profiles a:hover { color: #005580; }

/* Search form */
#trDivision, #trOtherOptions { display: none; }

/* Footer */
.profilesFooter { border-top: 1px solid #ccc; background-color: #fff; text-align: left; padding: 20px 0; margin-top: 30px; }
.profilesFooter #footer { width: 960px; margin: 0 auto; }
.profilesFooter  p  { color: #666; font-size: 11px; margin: 0; padding: 0; }
.disclaimer-logos {
    display: block;
    float: left;
    padding-bottom: 10px;	
}
.disclaimer-logos ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.disclaimer-logos li {
    display: block;
    float: left;
    height: 55px;
    list-style: none outside none;
    width: 55px;
}
.disclaimer-logos .item1 {
    background-image: url("Images/seal-department-of-energy.png");
}
.disclaimer-logos .item2 {
    background-image: url("Images/seal-university-of-california.png");
    margin: 0 0 0 7px;
}
.disclaimer-logos .item1, .disclaimer-logos .item2 {
    background-position: center center;
    background-repeat: no-repeat;
}
.disclaimer-text, .lbl-disclaimer {
    padding-top: 15px;
}
.disclaimer-text {
    float: left;
    width: 220px;
    padding: 15px 8px;
}
.lbl-disclaimer {
    float: left;
    margin: 0 20px 0 80px;
    width: 160px;
}
.lbl-disclaimer a {
    font-size: 13px;
    display: block;
    text-decoration: none;
}
.social ul {
    height: 31px;
}
.social, .social-mobile {
    width: 230px;
}
.social-mobile {
    display: none;
}
.social-links {
    padding-top: 5px;
}
.social-links ul, .social-links ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social-links li, .social-links li {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0 0 0 5%;
}
.social-links li a, .social-links li a {
    background-image: url("Images/lbl-new-social-iconsB.png");
    background-repeat: no-repeat;
    display: block;
    height: 31px;
    opacity: 0.6;
    width: 24px;
}
.social-links li a:hover, .social-links li a:hover {
    border-color: #0072BC;
}
.social-links li a.item1, .social-links li a.item1 {
    background-position: 0 4px;
}
.social-links li a.item1:hover, .social-links li a.item1:hover {
    border-color: #0072BC;
    opacity: 0.9;
}
.social-links li a.item2, .social-links li a.item2 {
    background-position: -23px 4px;
}
.social-links li a.item2:hover, .social-links li a.item2:hover {
    opacity: 0.9;
}
.social-links li a.item3, .social-links li a.item3 {
    background-position: -51px 4px;
}
.social-links li a.item3:hover, .social-links li a.item3:hover {
    opacity: 0.9;
}
.social-links li a.item4, .social-links li a.item4 {
    background-position: -74px 4px;
}
.social-links li a.item4:hover, .social-links li a.item4:hover {
    opacity: 0.9;
}
.social-links li a.item5, .social-links li a.item5 {
    background-position: -101px 4px;
}
.social-links li a.item5:hover, .social-links li a.item5:hover {
    opacity: 0.9;
}
.social-links li a.item6, .social-links li a.item6 {
    background-position: -124px 4px;
}
.social-links li a.item6:hover, .social-links li a.item6:hover {
    opacity: 0.9;
}
.social ul {
    display: table;
    margin: 0;
    width: 230px;
}
.social {
    display: table;
    margin: 0;
    position: relative;
    width: 300px;
}
.ir {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    border: 0 none;
    direction: ltr;
    display: block;
    line-height: 0;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}
.profilesFooter .version { clear: left; text-align: center; margin: 40px 0 0; background-color: #63666A; }
.profilesFooter .version  p { color: #fff; padding: 8px 0; }



